{% extends 'layout.html' %}
{% block content %}
{% load static %}

<!-- Hero Section -->
<header class="row bg-black">
    <div class="col-md-4">
        <img src="{% static 'images/ojos.jpg' %}" width="420" height="450" />
    </div>

    <div class="col-md-8 my-auto p-4">
        <h1>Te mostramos <strong>TODO</strong></h1>
        <h3>Bienvenido a la pagina de Contraloria CPM 2023</h3>
        <p>La página de contraloría escolar es una herramienta vital para garantizar la transparencia, la rendición de
            cuentas y la participación ciudadana en las instituciones educativas. A través de esta página, los padres,
            estudiantes, docentes y la comunidad en general pueden acceder a información relevante sobre su presupuesto,
            los recursos que recibe, los proyectos y programas que desarrolla, y la gestión de su personal. </p>
        <a class="btn btn-primary btn-lg rounded-3 my-3" href="{% static 'archivos/app.apk' %}" download="contraapp.apk">Descargar app</a>
    </div>
</header>

<!-- Porfolio Section -->
<div class="row my-4 text-center">

    <h3>Publicaciones</h3>
    <p>Aquí podras ver las ultimas actualizaciones de la contraloría </p>

    {% for post in posts|slice:"-3" %}
    <div class="col-md-4 p-4">
        <div class="card bg-black card-project">
            <img src="{{post.imagen.url}}" class="card-img-top" />
            <div class="card-body">
                <h2>{{post.titulo}}</h2>
                <p>{{post.descripcion|truncatechars:100}}</p>
                {% if post.id %}
                <a href="{% url 'post_detail' post.id %}" class="btn btn-primary rounded-3 btn-sm" rel="noreferrer">Leer
                    mas</a>
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}

</div>

{% endblock %}